<div class="container">
  <h1>Choose your deck</h1>
  <%= simple_form_for @deck do |f| %>
    <%= f.input :name %>
    <% params[:sentences].each do |sentence_id| %>
      <%= f.simple_fields_for :flashcards do |flashcards_form| %>
        <% @sentence = get_sentence(sentence_id) %>
        <%= flashcards_form.input :sentence_id, as: :hidden, input_html: { value: @sentence.id } %>
      <% end %>
    <% end %>
    <%= f.submit %>
  <% end %>
  <ul class="row">
    <% current_user.decks.each do |deck| %>
      <%= link_to deck_path(deck) do %>
        <li class="col-12 p-2 m-3 flashcard-deck list-group-item"><%= deck.name %><span class="badge"><%= Flashcard.count %></span></li>
      <% end %>
    <% end %>
  </ul>
</div>
