<div class="container">
  <h1>Choose your deck</h1>
  <!-- CREATE A NEW DECK -->
  <%= simple_form_for @deck do |f| %>
    <%= f.input :name %>
    <% params[:sentences].each do |sentence_id| %>
      <%= f.simple_fields_for :flashcards do |flashcards_form| %>
        <% @sentence = get_sentence(sentence_id) %>
        <%= flashcards_form.input :sentence_id, as: :hidden, input_html: { value: @sentence.id } %>
      <% end %>
    <% end %>
    <%= f.submit class: 'button-blue', value: 'New Deck' %>
  <% end %>
  <!-- CHOOSE AN EXISTING DECKS -->
    <div class="grid-container">
      <% current_user.decks.each do |deck| %>
        <%= link_to deck_path(deck), class: 'text-decoration-none' do %>
          <div class="grid-item"><%= deck.name %><span class="badge"><%= deck.flashcards.count %></span></div>
        <% end %>
      <% end %>
    </div>
</div>
