<div class="results-banner text-white">
  <h1><%= @conversion.video_title %></h1>
  <h2 class="result-description m-5">Choose the sentences you want to learn and click next.</h2>
</div>
<div class="background-light-yellow">
  <div class="results-flashcard-wrapper">
    <div class="results-flashcards-container">
      <%= form_tag choose_deck_path do %>
      <ul class="flashcards-list p-0">
         <% @conversion.sentences.sort_by { |sentence| sentence.created_at }.each do |sentence| %>
          <li class="flashcard-list-item m-3">
            <span class="checkmark"></span>

            <label>
              <input type="checkbox" name ="sentence_ids[]" value="<%= sentence.id %>" >
              <span class="results-flashcard"> <p><%= sentence.content %></p></span>
              <span class="checkmark"></span>
            </label>
          </li>
          <% end %>
        </ul>
        <%= submit_tag "Add sentences to a deck", class:"button-orange-hover button-fixed" %>
      <% end %>
    </div>
  </div>
</div>
