<div class="results-banner text-white">
    <h3><%= @conversion.url %></h3>
</div>
<div class="background-pink">
  <div class="results-flashcard-wrapper">
    <div class="results-flashcards-container">
      <%= form_tag choose_deck_conversion_path(@conversion), method: :get do %>
      <ul class="flashcards-list">
         <% @conversion.sentences.reverse.each do |sentence| %>
          <li class="flashcard-list-item m-3">
            <label>
              <input type="checkbox" name ="sentences[]" value="<%= sentence.id %>" >
              <span class="results-flashcard"> <h5><%= sentence.content %></h5></span>
            </label>
          </li>
          <% end %>
        </ul>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>
</div>







