<div class="container">
  <h1 class="text-center">Editing Flashcard</h1>
  <div class="flashcard d-flex flex-column h-100 p-5">
    <%= simple_form_for @flashcard do |f| %>
      <%= f.simple_fields_for :sentence do |s| %>
        <%= s.label 'Front' %>
        <%= s.input :content, input_html: {value: @flashcard.sentence.content}, label: false %>
      <% end %>
      <%= f.label 'Back' %>
      <%= f.input :phrase_translation, label: false %>
      <%= f.button :submit, 'submit', class: 'button-blue' %>
    <% end %>
  </div>
</div>
