<div class="container">
  <h1 class="text-center">Editing Flashcard</h1>
  <%= simple_form_for :translation, url: get_translation_path, remote: true do |f| %>
    <% col = @flashcard.sentence.content.split(' ').map { |s| s.gsub(/[!.,?]/, '')} %>
    <p>Add translation</p>
    <%= f.input :keyword, collection: col, label: false %>
    <%= f.submit "add", class: 'button-blue' %>
  <% end %>

  <div class="flashcard d-flex flex-column mb-5">
    <%= simple_form_for @flashcard do |f| %>
      <%= f.simple_fields_for :sentence do |s| %>
        <%= s.label 'Front' %>
        <%= s.input :content, input_html: {value: @flashcard.sentence.content}, label: false %>
      <% end %>
      <%= f.label 'Back' %>
      <%= f.input :phrase_translation, label: false %>
      <%= f.button :submit, 'submit', class: 'button-blue' %>
    <% end %>
  </div>
</div>
