  <div>
  <div class="dashboard-banner d-flex justify-content-around">
    <%= image_tag "flashcards_newest.png", alt: "Flashcards graphic", class:"dashboard-banner-image" %>
    <div class="ml-5 mt-3 text-white">
      <h1>My dashboard</h1>
      <h4>Edit your profile and settings</h4>
    </div>
    <div class="dashboard-deck-card m-3 d-flex justify-content-center">
        <div class="dashboard-deck-count text-center pt-3 pb-3 m-4">
           <h4>decks</h4>
          <i class="far fa-sticky-note icon m-2"></i>
          <h4><%= Deck.count %></h4>
        </div>
        <div class="dashboard-flashcard-count text-center pt-3 pb-3 m-4">
          <h4>flashcards</h4>
          <i class="far fa-clone icon m-2"></i>
          <h4><%= Flashcard.count %></h4>
        </div>
        <div class="dashboard-weekly-time text-center pt-3 pb-3 m-4">
          <h4>success rate</h4>
          <i class="far fa-check-circle icon m-2"></i>
          <h4> 82% </h4>
        </div>
    </div>

  </div>
  <div class="dashboard-flashcards-container">
    <div class="d-flex justify-content-around">
      <div class="align-items-around flex-column dashboard-info-box p-4">
        <h4>Profile Information</h4>
        <%= link_to "change", '#', class: "button-green m-3" %>
      </div>
      <div class="align-items-around flex-column dashboard-info-box p-4">
        <h4>Settings</h4>
        <%= link_to "change", '#', class: "button-green m-3" %>
      </div>
      <div class="align-items-around flex-column dashboard-info-box p-4">
        <h4> Frequently Asked Questions</h4>
        <%= link_to "FAQ", '#', class: "button-green m-3" %>
      </div>
    </div>
  </div>
  <div class="text-center p-5">
     <h2>statistics coming soon...</h2>
    <%= image_tag "https://cdn.iconscout.com/icon/premium/png-256-thumb/statistics-16-157667.png", alt: "alttext", class:"practice-flashcard-image mr-3" %>
  </div>
</div>
