<div class="banner">
  <div class="mb-3">
    <h1 class="text-center"> <%= image_tag ("Flavie_6.png") %> </h1>
    <!-- <h1 id="flavie">Flavie</h1> - replaced the regular name for the image above -->
    <h2 id="subtitle">the context learning app</h2>
    <h3 id="subsubtitle">Learn foreign languages with flashcards from your favorite videos</h3>
  </div>
  <div class="d-flex flex-column align-items-center w-100">
    <div class="url-form w-100">
        <%= simple_form_for @conversion do |f| %>
    <div class="language-choice d-flex">
      <h4 class="mr-4"><strong>Choose Language:</strong></h4>
      <%= select_tag "language",  options_for_select([ "English", "Japanese" ], "en"), class: "button-blue" %>
    </div>
          <div class="url-input-bar d-flex align-self-baseline">
            <%= f.input :video_id, label: false, wrapper_html: {class: 'flex-grow-1 mb-0'}, input_html: {class: 'h-100'}, placeholder: 'https://www.youtube.com/watch?v=Cgxsv1riJhI' %>
            <%= f.button :submit, "Get flashcards!", class: 'convert-button', input_html: {class: 'h-100'} %>
          </div>
        <% end %>
    </div>
  </div>
</div>
