<div class="navbar fixed-top">
  <%= link_to root_path do %>
    <div id="logo">
      <h3>Flavie</h3>
    </div>
  <% end %>

  <ul class="nav-items <%= li_class %>">
    <% if user_signed_in? %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Dashboard", dashboard_path %></li>
      <li><%= link_to "Logout", destroy_user_session_path %></li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
