<div class="navbar">
  <%= link_to "#" do %>
  <div id="logo">
    <h3>Flavie</h3>
  </div>
  <% end %>

    <ul class="nav-items">
      <% if user_signed_in? %>
        <li id="home" >
          <%= link_to "Home", "#" %>
        </li>
        <li id="stats">
          <%= link_to "Statistics", "#" %>
        </li>
        <li id="create-deck">
          <%= link_to "Create Deck", "#" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
</div>
