<div class="container">
  <h1>Choose your deck</h1>
  <!-- CREATE A NEW DECK -->
  <%= simple_form_for @deck do |f| %>
    <%= f.input :name %>
    <%= f.submit class: 'button-blue', value: 'New Deck' %>
  <% end %>
  <!-- CHOOSE AN EXISTING DECKS -->
    <div class="grid-container">
      <% current_user.decks.each do |deck| %>
        <%= link_to deck_path(deck) do %>
          <div class="grid-item">
            <%= deck.name %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
