<div class="container mb-5">
  <div class="row p-5">
    <div class="col-12 text-center">
      <h1>Studying <%= @deck.name %></h1>
    </div>

    <div class="col-12 practice-area">
      <div class='deck-main' data-controller='deck' data-deck-index="0" data-deck-max-number="<%= @deck.flashcards.count %>">
        <div class="deck-main-body">
          <article data-target='deck.article'>
            <% @deck.flashcards.each do |fc| %>
              <%= render 'shared/flashcard', flashcard: fc %>
            <% end %>
          </article>
          <article class='d-none align-items-center p-5' data-target='deck.article'>
            <h2 class="text-center mb-5">
              You are done  <i class="fas fa-check" style="color: green;"></i>
            </h2>
            <%= link_to 'Back to MyDecks', decks_path, class: "button-blue p-2 mr-2" %>
            <%= link_to 'Restart Deck', deck_path, class: "button-blue p-2 mr-1"  %>
          </article>
        </div>
      </div>
    </div>
  </div>

    <!-- <div class="practice-area">
      <div class="flashcard-practice">
        <div>
          <%#= @deck.flashcards.first.sentence.content %>
        </div>
      </div>
      <div class="practice-buttons">
        <button class="practice-button button-blue">Answer</button>
      </div>
      <div class="practice-buttons">
        <button class="practice-button button-blue">Again</button>
        <button class="practice-button button-blue">Easy</button>
        <button class="practice-button button-blue">Good</button>
        <button class="practice-button button-blue">Okay</button>
        <button class="practice-button button-blue">Hard</button>
      </div>
    </div> -->
</div>
