<div class="banner_deck text-center">
    <h1><%= @deck.name %></h1>
</div>
<div class="container">
  <div class="d-flex justify-content-center my-5">
    <div class="container mb-3">
      <div class="container">
        <h2 class="mb-5"><%= @deck.flashcards.count %> flashcards</h2>
        <p><strong>Due review:</strong> number of cards to review</p>
        <p><strong>New:</strong> number of new cards in the deck</p>
        <p><strong>Last studied:</strong> <%= @deck.flashcards.any? ? @deck.flashcards.first.studied_at : "0 Flashcards" %></p>
        <div class="d-flex justify-content-center">
          <% if @deck.flashcards.any?  %>
            <%= link_to practice_deck_path(@deck), class: 'button-blue align-items-center' do %>
              Study now
            <% end %>
          <% else %>
            <%= link_to root_path(@deck), class: 'button-blue align-items-center' do %>
              Add Video
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="flashcard-container p-3">
        <% @deck.flashcards.each do |flashcard| %>
          <div class="flashcard-preview m-3">
            <div class="flashcard-preview-left">
              <%= flashcard.sentence.content %>
            </div>
            <div class="flashcard-preview-right">
                <% if flashcard.phrase_translation == nil || flashcard.phrase_translation == "" %>
                  <p>"translation comes here"</p>
                <% else %>
                  <p><%= flashcard.phrase_translation %></p>
                <% end %>
            </div>
            <%= link_to edit_flashcard_path(flashcard), class: 'button-blue' do %>
              edit
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
